<%=render '/layouts/header'%>


<% @cats.each do |cat| %>

    <h1><%=cat.nome %></h1>
	  <hr>
    <% x = 0 %>

	  <% @filmes.each do |tb_filme| %> 
			<% if tb_filme.cat_id == cat.id %>
            <% break if x == 4 %>
               <div class="demo-3"> 
                 <figure>
                   <img><%= image_tag("#{tb_filme.titulo}.jpg")%>

                   <figcaption>
                     <h2><%= tb_filme.titulo %></h2>
                       <div>
                          <p><%= tb_filme.sinopse.at(0..130) %>... </p>     
                       </div>			
            					   <div class="button">
            						  <a href="/home/<%=tb_filme.id%>-<%=tb_filme.titulo%>" class="mais">Saiba Mais</a>
            					   </div>
                    </figcaption>

                  </figure>
                </div>
            <% x += 1 %>
      <% end %>
    <% end %>       
<% end %>


