<%=render '/layouts/header1'%>

<h2>Sign up</h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>


  <div class="form-group">
    <%= f.label :password , :class => 'control-label col-lg-2' %>
     <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>   
     <% end %><br />
     <div class="col-lg-10">
         <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
     </div>
       <%=f.error_span(:password) %>
  </div>


  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
    </div>
    <%=f.error_span(:password_confirmation) %>
  </div>

 <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <%= f.submit "Cadastre-se", :class => 'btn btn-primary' %><br>
              <%= render "users/shared/links" %>
            </div>
          </div>

 
<% end %>

